.contentWrapper {
  display: flex;
  justify-content: center;

  height: calc(100% - 102px)
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;

  padding: 30px 16px;

  height: 100%;
  width: 100%;
  max-width: 450px;
}
