.title {
  text-align: center;
  font-size: 34px;
}

.content {
  padding: 14px;
}

.dayOfPhotos span {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  margin: -3px;
  margin-bottom: 25px;
}

.photos > div {
  margin: 3px;
}

/* UI skeletons */
.skeletonPhoto {
  height: 82px;
  width: 82px;
  border-radius: 3px;
  border-radius: 4%;
  background-color: #C4C4C4;
}

@media (max-width: 425px) {
  .skeletonPhoto {
    height: calc(25vw - 12px);
    width: calc(25vw - 12px);
  }
}
