.titleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 50%;
}

.titleSection h1 {
  font-size: 34px;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;

  padding: 0 16px;
  width: 100%;
  max-width: 450px;
}

.input {
  margin-bottom: 6px;
  padding: 10px 15px !important;
  font-size: 15px;
  border: solid 1px var(--ion-color-dark);
  border-radius: 4px;
  background-color: transparent;
}

.input input {
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-left: 0;
  --padding-right: 0;
}

.passwordSubtext {
  font-size: 13px;
}

.passwordSubIcon {
  margin-bottom: -2.5px;
}

.button {
  margin-top: 28px;
  margin-bottom: 19px;
}

.secondCTA {
  text-align: center;
  font-size: 15px;
}
